body {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#my-name {
  display: flex;
  justify-content: center;
  color: red;
  align-items: center;
  margin: 15px;
}

.my-details {
  border: 3px solid rgb(225, 102, 102);
  width: fit-content;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 700px;
  font-size: 12px;
}

.detail {
  background-color: aquamarine;
  padding: 15px 45px;
  text-align: center;
}

.detail:hover {
  background-color: #288BAC;
}

#time-zone {
  text-align: center;
  font-style: italic;
}

#clock {
  font-weight: bolder;
  color: rgb(225, 102, 102);
}

#profile {
  width: 250px;
  height: 250px;
  display: flex;
  margin-bottom: 10px;
}

#birthday {
  background: linear-gradient(to bottom, #FFFDCB, #FFEC95);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 706px;
  padding: 20px 0;
}

.birthday {
  font-style: normal;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #59BBDB;
  text-shadow:
    -1px -1px 0px #288BAC,
    1px -1px 0px #288BAC,
    -1px 1px 0px #288BAC,
    1px 1px 0px #288BAC,
    2px 2px 0px #288BAC;
  ;
  margin-top: 12px;
  margin-bottom: 5px;
}

.birthday-important {
  font-size: 66px;
  text-shadow:
    -1px -1px 0px #288BAC,
    1px -1px 0px #288BAC,
    -1px 1px 0px #288BAC,
    1px 1px 0px #288BAC,
    2px 2px 0px #288BAC,
    3px 3px 0px #288BAC,
    4px 4px 0px #288BAC,
    5px 5px 0px #288BAC,
    6px 6px 0px #288BAC,
    7px 7px 0px #288BAC;
}

.countdown-text {
  height: 23%;
  width: 100%;
  font-weight: bold;
  color: rgb(40, 139, 172);
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

#countdown-timer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(247, 247, 247);
  width: 100%;
  height: 200%;
  font-size: 80px;
  line-height: 111px;
  margin: 20px;
  margin-bottom: 0;
  background-color: rgb(40, 139, 172);
  font-weight: 900;
}

#countdown-text {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 30px;
}

#countdown-text>span {
  margin-left: 30px;
}

#switch {
  width: 250px;
  padding: 10px auto;
  background-color: #FFEC95;
  border-radius: 5px;
  border-color: rgb(40, 139, 172);
  border: none;
}

#switch:hover {
  background-color: transparent;
  border: 1px solid rgb(40, 139, 172);
}
